.display-3 {
	text-align: center;
	color: white;
}

body {
	background-image: url("background.jpg");
	    background-size: 1000px 1000px;

	    background-color: #cccccc;


}

.jumbotron {
	background-image: url("jumbotron.gif");
	background-size: 1500px 400px;

}